# Make the new Sqon executable.
chmod: 0755

# Filter out some files.
filter:

    # List paths to exclude.
    exclude:

        # Exclude paths by regular expression.
        pattern:
            - '/[Tt]ests/'

    # List paths to always include.
    include:

        # Include paths by name.
        name:
            - 'Apache 2.0.txt'
            - 'LICENSE'
            - 'MIT.txt'

        # Include paths by their exact path.
        path:
            - 'bin/sqon'

        # Include paths by regular expression.
        pattern:
            - '/\.php$/'

# Replaces matching patterns.
replace:

    # Remove the shebang line for the main script.
    path:
        'bin/sqon':
            '/^#![^\n\r]+[\n\r]+/m': ''

# Set the build configuration.
sqon:

    # Compress contents using gzip.
    compression: GZIP

    # Use the executable script as main.
    main: 'bin/sqon'

    # Registers Sqon manager plugins.
    plugins:
        - class: Sqon\Builder\Plugin\Chmod
        - class: Sqon\Builder\Plugin\Filter
        - class: Sqon\Builder\Plugin\Replace

    # Create the Sqon as "sqon".
    output: 'sqon'

    # Include all paths at the project root.
    paths: ['.']

    # Include a shebang line with the PHP bootstrap script.
    shebang: '#!/usr/bin/env php'
